<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">My Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about/zeynep">Me</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/messages">Messages</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        {% if session["logged"] %}
        <li class="nav-item active">
          <a class="nav-link" href="/dashboard">PANEL</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/logout">LOG OUT</a>
        </li>
        {% else %}
        <li class="nav-item active">
          <a class="nav-link" href="/login">LOGIN</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/register">REGISTER</a>
        </li>
        {% endif %}
        
      </ul>
    </div>
  </nav>