{% extends "layout.html" %}
{% block title %}
<title>MESSAGES</title>
{% endblock %}
{% block body %}
<h3>Messages</h3>
<hr>
{% if messages %}
<form action = "/search" method = "post">
    <input id="search-focus" type="search" name = "keyword" class="input" id="form1" placeholder="search.."/>
    <button type="submit" class="btn btn-info">Search</button>
</form>
<hr>
<ul class = "list-group">
    {% for message in messages %}
    <li class = "list-group-item"> <a href="message/{{message.id}}">{{ message.title }}</a></li>
    {% endfor %}
</ul>
{% else %}
<div class = "alert alert-danger">No message</div>
{% endif %}
{% endblock %}
