{% extends "layout.html" %}

{% block body %}
{% from "includes/formhelpers.html" import render_field %}
<h2>Please Register</h2>
<hr>
<form method="POST">
    {{ render_field(form.name, class = "form-control")}}
    {{ render_field(form.surname, class = "form-control")}}
    {{ render_field(form.email, class = "form-control")}}
    {{ render_field(form.username, class = "form-control")}}
    {{ render_field(form.password, class = "form-control")}}
    {{ render_field(form.confirm, class = "form-control")}}
    <button type="submit" class="btn btn-success">REGISTER</button>
</form>


{% endblock %}
